'.source.build':
  # Java
  'java_binary':
    'prefix': 'jb'
    'body': """
      java_binary(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """
  'java_library':
    'prefix': 'jl'
    'body': """
      java_library(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """
  'java_test':
    'prefix': 'jt'
    'body': """
      java_test(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """
  'java_import':
    'prefix': 'ji'
    'body': """
      java_import(
        name = "$1",
        jars = [
          $2
        ],
      )
    """
  'java_plugin':
    'prefix': 'jp'
    'body': """
      java_plugin(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """
  # Android
  'android_binary':
    'prefix': 'ab'
    'body': """
      android_binary(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """
  'android_library':
    'prefix': 'al'
    'body': """
      android_library(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """

  # Python
  'python_binary':
    'prefix': 'pb'
    'body': """
      py_binary(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """
  'python_library':
    'prefix': 'pl'
    'body': """
      py_library(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """
  'python_test':
    'prefix': 'pt'
    'body': """
      py_test(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """

  # C / C++
  'cc_binary':
    'prefix': 'cb'
    'body': """
      cc_binary(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """
  'cc_library':
    'prefix': 'cl'
    'body': """
      cc_library(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """
  'cc_test':
    'prefix': 'ct'
    'body': """
      cc_test(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """
  # Shell
  'sh_binary':
    'prefix': 'sb'
    'body': """
      sh_binary(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """
  'sh_library':
    'prefix': 'sl'
    'body': """
      sh_library(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """
  'sh_test':
    'prefix': 'st'
    'body': """
      sh_test(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """

  # General
  'genrule':
    'prefix': 'gr'
    'body': """
      genrule(
        name = "$1",
        srcs = [
          $2
        ],
        outs = [
          $3
        ],
        cmd = "$4"
      )
    """
  'filegroup':
    'prefix': 'fg'
    'body': """
      filegroup(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """
  'test_suite':
    'prefix': 'ts'
    'body': """
      test_suite(
        name = "$1",
        srcs = [
          $2
        ],
      )
    """
